
$myFont: "Rock Salt", "Helvetica Neu", helvetica, arial, sans-serif;
$myBorder: solid 5px #800080;
$myBackgroundOne: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));

body {
    font-family: $myFont;	
    margin: 2em;
  }
  
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    
  }
  
  
  th, tbody{
      border: $myBorder;
      padding:  1%;
      text-align: center;
  
  }
  
  td {
      padding: 1%;
      font-family:  "Helvetica";
  
  }
  
  th, caption{
      font-family: "Rock Salt";
  }
  
  tbody {
      background-image: url("noise.png");
      background: #ff33cc ;	
  }
  
  caption {
  caption-side: bottom;
  text-align: end;
  padding:2%;
  
  }
  
  
  th, tfoot{ 
  
      background:$myBackgroundOne, url("leopard.jpeg");
      color: white;
      }
  
  
  .total{
      text-align: end;
      border: $myBorder;
      font-family: $myFont;	
  
  }
  
  .number{	
      text-align: start;
      border: $myBorder;
      font-family: $myFont;	
  
  }
  
  
  tr:nth-child(even) {
      background: #e495e4;   
  }
  
  
  